.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.meme--input,
.meme--btn {
  height: 40px;
  border-radius: 5px;
}

.meme--input {
  margin-right: 17px;
  border: 1px solid #ccc;
  text-indent: 5px;
}

.meme--btn {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  grid-column: 1 / -1;
  border: none;
  cursor: pointer;
}

.meme--img {
  display: block;
  max-width: 60%;
  margin: 20px auto;
}
